body{
  background-color: #F9F9F9;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
h1
{
  width: 10%;
  margin: 0 auto;
  font-family: 'Sacramento', cursive;
}
h3
{
  width: 10%;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
}
.top{
  position: relative;
  padding-top: 100px;
}
.bottomcloud
{
  position: absolute;
  left:500px;
}
.topcloud
{
position: absolute;
top: 50px;
right: 500px;
}
.man{
  margin-top: 20px;
  width: 100px;
  height: 100px;
}
.study table{
  position: absolute;
  left: 200px;
}
hr{
  border-style: dotted none none;
  border-width: 6px;
  border-color: grey;
  width: 7%;
}
